/* modern css reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Variables */
:root {
  --green: #99dbc5;
  --yellow: #f3c53a;
  --dark: #253d59;
  --text-color: #19363d;
}

.wrapper {
  border: 1px solid black;
  padding: 1em;
  margin: 0 auto;
  max-width: 1200px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.header-button {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header p {
  width: 500px;
}

h1,
h2,
h3,
h4 {
  color: #19363d;
}

h1 {
  font-weight: 100;
  font-size: 3rem;
}

span {
  display: block;
}

h2 {
  text-align: center;
  margin-bottom: 1em;
}

p {
  color: #19363d;
}

button {
  cursor: pointer;
}

section {
  margin: 2em;
}

header button {
  margin-top: 1em;
}

section button {
  margin-top: 1em;
}

.video-section {
  text-align: center;
}

.video-section video {
  width: 100%;
}

.success-stories-section {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.client-icon {
  width: 10%;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-item {
  margin-bottom: 2em;
}
